{% extends 'base.html.twig' %}

      {% block content_body %}
          <div id="artists"></div>
      {% endblock %}

      {% block javascripts %}
          {{ encore_entry_script_tags('artists') }}
      {% endblock %}

